.galaxy {
  position: relative;
  transform: rotateX(75deg);
  transform-style: preserve-3d;
}

.orbit {
  margin: 50px;
  border: 3px solid black;
  border-radius: 50%;
  width: 21em;
  height: 21em;
  border-radius: 50%;
  animation-name: spin;
  transform-style: preserve-3d;
  animation-duration: 7200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.planet {
  position: absolute;
  top: 10px;
  left: 55px;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  animation-duration: 7200ms;
  animation-name: planetAnim;
  animation-duration: 7200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes planetAnim {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}